maintenance:
  enabled: true
  start: "01:25"
  duration: "5m"
  timezone: "Europe/Berlin"

storage:
  type: sqlite
  path: ./gatus.db

states:
  - name: degraded
    priority: 1

ui:
  state-colors:
    degraded: "#FFA500"  # Orange color for degraded state

endpoints:
  - name: healthy-test
    group: core
    url: "icmp://9.9.9.9"
    interval: 10s
    conditions:
      - "[CONNECTED] == true"

  - name: maintenance-test
    group: core
    url: "http://localhost:8088/"
    interval: 10s
    conditions:
      - "[STATUS] == 200"
      - "[RESPONSE_TIME] < 150"
    maintenance-windows:
      - start: "12:00"
        duration: "23h59m"

  - name: degraded-test
    group: core
    url: "icmp://9.9.9.9"
    interval: 10s
    conditions:
      - "[CONNECTED] == true"
      - "degraded::[RESPONSE_TIME] < 22"

  - name: unhealthy-test (error)
    group: core
    url: "http://doesnotexist.local/"
    interval: 10s
    conditions:
      - "[STATUS] == 200"

  - name: unhealthy-test (failing condition)
    group: core
    url: "icmp://9.9.9.9"
    interval: 10s
    conditions:
      - "[CONNECTED] == true"
      - "[RESPONSE_TIME] < 1"

  - name: unhealthy-test (invalid linked condition state)
    group: core
    url: "icmp://9.9.9.9"
    interval: 10s
    conditions:
      - "[CONNECTED] == true"
      - "invalid::[RESPONSE_TIME] < 1"

suites:
  - name: custom-state-test
    group: api-tests
    interval: 10s
    endpoints:
      - name: create-item
        url: icmp://9.9.9.9
        conditions:
          - "[CONNECTED] == true"
          - "[RESPONSE_TIME] < 23"

      - name: update-item
        url: icmp://9.9.9.9
        conditions:
          - "[CONNECTED] == true"
          - "degraded::[RESPONSE_TIME] < 24"

      - name: get-item
        url: icmp://9.9.9.9
        conditions:
          - "[CONNECTED] == true"
          - "[RESPONSE_TIME] < 23"

      - name: delete-item
        url: icmp://9.9.9.9
        always-run: true
        conditions:
          - "[CONNECTED] == true"
          - "degraded::[RESPONSE_TIME] < 23"
