name: publish-custom
run-name: "${{ inputs.tag }}"
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Custom tag to publish
      platforms:
        description: Platforms to publish to (comma separated list)
        default: linux/amd64
        type: choice
        options:
          - linux/amd64
          - linux/arm/v7
          - linux/arm64

jobs:
  publish-custom:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Get image repository
        run: echo GHCR_IMAGE_REPOSITORY=$(echo ghcr.io/${{ github.actor }}/${{ github.event.repository.name }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.GHCR_IMAGE_REPOSITORY }}
          tags: |
            type=raw,value=${{ inputs.tag }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ inputs.platforms }}
          pull: true
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
