name: test-ui
on:
  pull_request:
    paths:
      - 'web/**'
  push:
    branches:
      - master
    paths:
      - 'web/**'
jobs:
  test-ui:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - run: make frontend-install-dependencies
      - run: make frontend-build